.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.division {
    display: flex;
    justify-content: space-between;
    width: 20%
}

.vertical-align{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    /* width: 250px; */
}